@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  background-color: #f7f7f7;
}
body.no-scroll {
  overflow: hidden;
}
@font-face {
  font-family: "UthmanicHafs";
  src: url("../fonts/quran/uthmanic_hafs/UthmanicHafs1Ver18.ttf");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "surahName";
  src: url("../fonts/quran/sura_name/ArabQuranIslamic140-K7n4W.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "basmallah";
  src: url("../fonts/quran/Damascus.ttf");
  font-weight: normal;
  font-style: normal;
}

/* input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: #828282e3;
  border-radius: 3px;
  border: none;
} */
/* input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  background: black;
  margin-top: -4px;
} */
#range1 {
  -webkit-appearance: none;
  appearance: none;
  background: grey;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

/* #range1::-webkit-slider-runnable-track {
  background: #ccc;
  height: 16px;
}

#range1::-moz-range-track {
  background: #ccc;
  height: 16px;
  border-radius: 16px;
} */

#range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  background-color: white;

  box-shadow: -407px 0 0 400px black;
}

#range1::-moz-range-thumb {
  background-color: black;

  border: 1px solid black;
  box-shadow: -407px 0 0 400px black;
}

.spinner {
  animation: spin 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: rgb(11, 17, 22);
  stroke-linecap: round;
  animation: spinner-path 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: spin(360deg);
  }
}

@keyframes spinner-path {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
