@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "UthmanicHafs";
  src: url("../fonts/quran/uthmanic_hafs/UthmanicHafs1Ver18.ttf");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "surahName";
  src: url("../fonts/quran/sura_name/ArabQuranIslamic140-K7n4W.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "basmallah";
  src: url("../fonts/quran/Damascus.ttf");
  font-weight: normal;
  font-style: normal;
}
